---
import { cn } from '@/lib/utils';
import Twitter from './icons/twitter.astro';
import Github from './icons/github.astro';
import Npm from './npm.astro';
import NpmLight from './npm-light.astro';

const { class: className, ...rest } = Astro.props;
---

<ul class={cn('flex justify-center gap-1', className)} {...rest}>
  <li>
    <a
      href={'https://github.com/Eleven-Estudio'}
      class="size-8 aspect-square flex items-center justify-center"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Github class="size-3 fill-white" />
      <span class="sr-only">GitHub</span>
    </a>
  </li>
  <li>
    <a
      class="size-8 aspect-square flex items-center justify-center"
      href={'https://x.com/yonidev11'}
      target="_blank"
      rel="noopener noreferrer"
    >
      <NpmLight class="size-3 fill-white" />
      <span class="sr-only">Npm</span>
    </a>
  </li>
  <li>
    <a
      class="size-8 aspect-square flex items-center justify-center"
      href={'https://x.com/yonidev11'}
      target="_blank"
      rel="noopener noreferrer"
    >
      <Twitter class="size-3 fill-white" />
      <span class="sr-only">Twitter</span>
    </a>
  </li>
</ul>
