<svg
  xmlns="http://www.w3.org/2000/svg"
  width="200"
  height="48"
  fill="none"
  viewBox="0 0 200 48"
  class={Astro.props.class}
  >
  <title>Strapi</title>
  <g clip-path="url(#a)"
    ><path
      fill="#fff"
      d="M192.244 7.016c.816.812 1.78 1.217 2.892 1.217 1.147 0 2.128-.405 2.944-1.217.817-.811 1.225-1.77 1.225-2.874 0-1.105-.408-2.072-1.225-2.9-.816-.83-1.797-1.244-2.944-1.244-1.112 0-2.076.414-2.892 1.243-.816.829-1.224 1.796-1.224 2.9 0 1.106.408 2.064 1.224 2.875ZM104.333 17.61c0 .085-.07.154-.155.154h-5.734v10.773c0 .898.226 1.554.678 1.969.451.414 1.111.647 1.98.699.795.047 1.764.044 2.907-.01l.029-.001.053-.003.079-.004a.155.155 0 0 1 .163.154v5.76c0 .079-.06.144-.138.153l-.105.011c-4.492.476-7.668.036-9.528-1.321-1.893-1.381-2.84-3.85-2.84-7.407V17.764h-4.378a.154.154 0 0 1-.155-.153v-6.116c0-.084.069-.153.155-.153h4.378V7.064c0-.121.073-.232.185-.28l6.32-2.765a.155.155 0 0 1 .217.14v7.183h5.734c.085 0 .155.069.155.153v6.116Zm12.191-1.814c.625-1.658 1.659-2.9 3.101-3.73 1.319-.758 2.777-1.17 4.372-1.234.078-.003.196-.005.291-.007a.154.154 0 0 1 .157.154v7.028a.25.25 0 0 1-.276.246c-1.939-.174-3.679.25-5.222 1.272-1.615 1.07-2.423 2.849-2.423 5.335v12.225a.154.154 0 0 1-.155.153h-6.412a.154.154 0 0 1-.155-.153v-25.59c0-.085.069-.154.155-.154h6.412c.086 0 .155.07.155.154v4.3Z"
    ></path><path
      fill="#fff"
      fill-rule="evenodd"
      d="M148.308 11.34a.154.154 0 0 0-.155.155v2.902c-2.015-2.52-4.846-3.781-8.494-3.781-3.474 0-6.453 1.32-8.937 3.962-2.484 2.642-3.726 5.879-3.726 9.712 0 3.832 1.242 7.07 3.726 9.711s5.463 3.962 8.937 3.962c3.648 0 6.479-1.26 8.494-3.78v2.901c0 .085.069.154.155.154h6.412a.154.154 0 0 0 .155-.154v-25.59a.154.154 0 0 0-.155-.153h-6.412ZM135.75 29.574c1.355 1.346 3.075 2.02 5.159 2.02 2.085 0 3.813-.682 5.185-2.046 1.372-1.364 2.058-3.116 2.058-5.257 0-2.141-.686-3.893-2.058-5.257-1.372-1.364-3.1-2.046-5.185-2.046-2.084 0-3.804.682-5.159 2.046-1.355 1.364-2.032 3.116-2.032 5.257 0 2.14.677 3.902 2.032 5.283Zm48.323-14.996c-2.484-2.641-5.48-3.962-8.989-3.962-3.648 0-6.462 1.26-8.442 3.78v-2.901a.154.154 0 0 0-.155-.154h-6.412a.154.154 0 0 0-.155.154v35.948c0 .085.069.154.155.154h6.412a.154.154 0 0 0 .155-.154v-13.26c1.98 2.52 4.794 3.78 8.442 3.78 3.509 0 6.505-1.32 8.989-3.962 2.484-2.642 3.726-5.879 3.726-9.711 0-3.833-1.242-7.07-3.726-9.712Zm-15.399 14.995c1.355 1.346 3.074 2.02 5.159 2.02 2.084 0 3.813-.682 5.185-2.046 1.372-1.364 2.058-3.116 2.058-5.257 0-2.141-.686-3.893-2.058-5.257-1.372-1.364-3.101-2.046-5.185-2.046-2.085 0-3.804.682-5.159 2.046-1.355 1.364-2.032 3.116-2.032 5.257 0 2.14.677 3.902 2.032 5.283Z"
      clip-rule="evenodd"></path><path
      fill="#fff"
      d="M191.957 37.239a.154.154 0 0 1-.155-.154v-25.59c0-.085.069-.153.155-.153h6.412c.086 0 .155.068.155.153v25.59a.154.154 0 0 1-.155.154h-6.412ZM71.965 20.379c-.921-.432-1.381-.993-1.381-1.683 0-.656.286-1.174.86-1.554.572-.38 1.293-.57 2.162-.57 1.665 0 2.924.645 3.774 1.936.06.09.175.126.274.083l5.672-2.494a.152.152 0 0 0 .07-.218 13.969 13.969 0 0 0-.2-.326c-.971-1.52-2.229-2.65-3.806-3.513-1.737-.95-3.665-1.424-5.784-1.424-2.814 0-5.168.734-7.061 2.201-1.894 1.467-2.84 3.479-2.84 6.034 0 1.692.46 3.1 1.38 4.221a8.129 8.129 0 0 0 3.362 2.46c1.32.518 2.64.95 3.96 1.295 1.32.346 2.44.734 3.362 1.166.92.431 1.38.992 1.38 1.683 0 1.485-1.198 2.227-3.595 2.227-2.282 0-3.863-.838-4.744-2.514a.31.31 0 0 0-.398-.144l-5.656 2.49a.153.153 0 0 0-.077.207l.065.13c1.977 3.928 5.58 5.891 10.81 5.891 2.988 0 5.48-.716 7.478-2.15 1.997-1.432 2.996-3.478 2.996-6.137 0-1.76-.46-3.229-1.38-4.402-.922-1.175-2.042-2.012-3.362-2.512a34.824 34.824 0 0 0-3.96-1.244c-1.32-.328-2.44-.707-3.361-1.139Z"
    ></path><path
      fill="#4945FF"
      d="M.036 16.577c0-7.815 0-11.723 2.451-14.151C4.938-.002 8.883-.002 16.773-.002H31.58c7.89 0 11.835 0 14.286 2.428 2.45 2.428 2.45 6.336 2.45 14.151v14.666c0 7.816 0 11.723-2.45 14.151-2.451 2.428-6.396 2.428-14.286 2.428H16.773c-7.89 0-11.835 0-14.286-2.428-2.45-2.428-2.45-6.335-2.45-14.15V16.576Z"
    ></path><path
      fill="#fff"
      fill-rule="evenodd"
      d="M33.349 14.505H17.095v8.21h8.288v8.21h8.288V14.823a.32.32 0 0 0-.322-.32Z"
      clip-rule="evenodd"></path><path fill="#fff" d="M25.382 22.715h-.322v.319h.322v-.32Z"
    ></path><path
      fill="#9593FF"
      d="M17.095 22.715h7.966a.32.32 0 0 1 .322.318v7.891h-7.966a.32.32 0 0 1-.322-.318v-7.891Zm8.288 8.209h8.288l-8.014 7.938c-.1.1-.274.03-.274-.112v-7.826Zm-8.288-8.209h-7.9a.16.16 0 0 1-.113-.273l8.013-7.937v8.21Z"
    ></path></g
  ><defs><clipPath id="a"><path fill="#fff" d="M0 0h199.469v47.831H0z"></path></clipPath></defs
  ></svg
>
