<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  fill="none"
  viewBox="0 0 24 24"
  class={Astro.props.class}
>
  <title>Next.js</title>
  <path
    fill="#FAFAF9"
    d="M11.808 21.648c-5.435 0-9.84-4.405-9.84-9.84s4.405-9.84 9.84-9.84 9.84 4.405 9.84 9.84-4.405 9.84-9.84 9.84Zm3.936-13.776h-1.328v3.936h1.328V7.872ZM9.196 9.555l5.963 7.703 1.037-.796-6.668-8.59H7.872v7.87h1.324V9.554Z"
  ></path>
</svg>
