<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  fill="none"
  viewBox="0 0 24 24"
  class={Astro.props.class}
>
  <title>Nuxt.js</title>
  <path
    fill="#FAFAF9"
    d="M12.989 18.368h7.281c.233 0 .455-.082.657-.197.2-.115.408-.26.524-.459.116-.2.197-.426.197-.656 0-.23-.08-.457-.197-.656l-4.92-8.463a1.18 1.18 0 0 0-.46-.458 1.575 1.575 0 0 0-.72-.197 1.33 1.33 0 0 0-.657.197 1.18 1.18 0 0 0-.459.458l-1.246 2.165-2.493-4.198c-.116-.2-.258-.41-.46-.525-.201-.115-.422-.131-.656-.131-.232 0-.454.016-.655.13-.2.116-.41.325-.525.526L2.099 16.4c-.116.2-.131.426-.131.656 0 .23.015.457.13.656.117.2.325.345.526.459.2.114.423.197.655.197h4.593c1.82 0 3.144-.817 4.067-2.362l2.23-3.87 1.181-2.034 3.609 6.167h-4.79l-1.18 2.099Zm-5.183-2.1H4.592L9.38 8.004l2.428 4.133-1.608 2.802c-.613 1.004-1.312 1.33-2.394 1.33Z"
  ></path>
</svg>
