<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  fill="none"
  viewBox="0 0 24 24"
  class={Astro.props.class}
>
  <title>Svelte</title>
  <path
    fill="#FAFAF9"
    d="M20.596 10.573c4.046-6.528-4.066-13.253-9.83-9.486L5.282 4.582c-2.655 1.73-3.808 5.051-2.189 8.465-4.048 6.141 3.829 13.332 9.83 9.491l5.483-3.495c2.983-1.964 3.667-5.351 2.189-8.47M6.869 6.843l5.475-3.494c3.596-2.153 7.737 1.612 6.244 5.12a7.376 7.376 0 0 0-2.625-1.333c.285-1.133-1.03-1.974-1.945-1.389L8.53 9.23c-1.357.938.09 2.866 1.43 2.057l2.091-1.333c4.692-2.648 9.133 3.71 4.769 6.826l-5.475 3.493c-3.3 2.11-7.79-1.27-6.245-5.12.82.621 1.692 1.078 2.626 1.333a1.31 1.31 0 0 0 1.959 1.4l5.473-3.493c1.35-1.012-.1-2.845-1.429-2.057l-2.099 1.333c-4.638 2.71-9.182-3.71-4.762-6.825"
  ></path>
</svg>
