<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  fill="none"
  viewBox="0 0 24 24"
  class={Astro.props.class}
>
  <title>TansTack Start</title>
  <g>
    <mask
      id="a"
      width="24"
      height="24"
      x="0"
      y="0"
      maskUnits="userSpaceOnUse"
      style="mask-type:alpha"
    >
      <path
        fill="#FAFAF9"
        d="M11.808 23.616c6.522 0 11.808-5.286 11.808-11.808C23.616 5.287 18.33 0 11.808 0 5.287 0 0 5.287 0 11.808c0 6.522 5.287 11.808 11.808 11.808Z"
      ></path>
    </mask>
    <g mask="url(#a)">
      <path
        fill="#A6A09B"
        stroke="#FAFAF9"
        stroke-width=".945"
        d="M2.598 40.384c6.782 0 12.28-5.498 12.28-12.28 0-6.783-5.498-12.281-12.28-12.281-6.782 0-12.28 5.498-12.28 12.28 0 6.783 5.498 12.281 12.28 12.281Z"
      ></path>
      <path
        fill="#A6A09B"
        stroke="#FAFAF9"
        stroke-width=".945"
        d="M2.363 41.801c6.782 0 12.28-5.498 12.28-12.28 0-6.783-5.498-12.281-12.28-12.281-6.783 0-12.281 5.498-12.281 12.28 0 6.783 5.498 12.281 12.28 12.281Z"
      ></path>
      <path
        fill="#A6A09B"
        stroke="#A6A09B"
        stroke-width=".945"
        d="M2.126 43.218c6.783 0 12.28-5.498 12.28-12.28 0-6.783-5.497-12.281-12.28-12.281-6.782 0-12.28 5.498-12.28 12.28 0 6.783 5.498 12.281 12.28 12.281Z"
      ></path>
      <path
        fill="#A6A09B"
        stroke="#FAFAF9"
        stroke-width=".945"
        d="M20.782 40.384c6.783 0 12.281-5.498 12.281-12.28 0-6.783-5.498-12.281-12.28-12.281-6.783 0-12.281 5.498-12.281 12.28 0 6.783 5.498 12.281 12.28 12.281Z"
      ></path>
      <path
        fill="#FAFAF9"
        d="M21.02 8.266h.471v1.18h-.472v-1.18Zm-1.418-.236.473.236-.237.944h-.472l.236-1.18Zm-1.417-.709.473.236-.709.945-.472-.236.708-.945Zm-.944-.945.236.237-.709.944-.236-.472.709-.709Zm-.709-.944.236.236-.944.708-.237-.472.945-.472ZM16.06 4.25v.472l-.945.236-.236-.472 1.18-.236Zm0-1.653.236.472-1.18.236-.237-.472 1.18-.236Zm.236-1.181v.472h-1.18v-.472h1.18Z"
      ></path>
      <path
        fill="#A6A09B"
        stroke="#FAFAF9"
        stroke-width=".945"
        d="M21.019 41.801c6.782 0 12.28-5.498 12.28-12.28 0-6.783-5.498-12.281-12.28-12.281-6.782 0-12.28 5.498-12.28 12.28 0 6.783 5.497 12.281 12.28 12.281Z"
      ></path>
      <path
        fill="#A6A09B"
        stroke="#A6A09B"
        stroke-width=".945"
        d="M21.255 43.218c6.783 0 12.28-5.498 12.28-12.28 0-6.783-5.497-12.281-12.28-12.281-6.782 0-12.28 5.498-12.28 12.28 0 6.783 5.498 12.281 12.28 12.281Z"
      ></path>
      <path
        fill="#A6A09B"
        d="M11.69 40.148c5.413 0 9.801-5.393 9.801-12.045s-4.388-12.044-9.8-12.044c-5.413 0-9.801 5.392-9.801 12.044s4.388 12.045 9.8 12.045Z"
      ></path>
      <path
        fill="#FAFAF9"
        stroke="#A6A09B"
        stroke-width=".236"
        d="M8.03 8.974V6.85c.235.236.472.944 1.18 1.417l1.653 7.085-1.889.472c-.236-5.432-.472-5.432-.945-6.849Z"
      ></path>
      <path
        fill="#FAFAF9"
        fill-rule="evenodd"
        d="M22.436 29.048c0 7.321-4.723 13.462-10.627 13.462-5.904 0-10.627-6.14-10.627-13.462 0-6.376 3.306-11.808 7.793-13.225l2.834-.472c5.904 0 10.627 6.14 10.627 13.697Zm-10.627 11.1c5.196 0 9.21-5.196 9.21-11.808 0-6.613-4.014-11.808-9.21-11.808-5.196 0-9.21 5.195-9.21 11.808 0 6.612 4.014 11.808 9.21 11.808Z"
        clip-rule="evenodd"></path>
      <path
        fill="#FAFAF9"
        stroke="#A6A09B"
        stroke-width=".236"
        d="M8.03 6.849c-.945-1.89-2.598-1.181-3.306-.945.472.709 1.18.945 2.125.945h1.18Z"></path>
      <path
        fill="#A6A09B"
        d="M5.904 8.974c-.236 1.417 0 3.306.473 4.251 1.18-1.653 1.653-3.07 1.653-4.25V6.848c-1.181.236-1.653 1.18-2.126 2.125Z"
      ></path>
      <path
        fill="#000"
        d="M8.03 6.849c-.237.708-1.181 2.598-1.181 3.778l1.18-3.778Zm0 0c-1.181.236-1.653 1.18-2.126 2.125-.236 1.417 0 3.306.473 4.251 1.18-1.653 1.653-3.07 1.653-4.25V6.848Z"
      ></path>
      <path
        stroke="#A6A09B"
        stroke-width=".236"
        d="M8.03 6.849c-.237.708-1.181 2.598-1.181 3.778m1.18-3.778c-1.18.236-1.652 1.18-2.125 2.125-.236 1.417 0 3.306.473 4.251 1.18-1.653 1.653-3.07 1.653-4.25V6.848Z"
      ></path>
      <path
        fill="#FAFAF9"
        stroke="#A6A09B"
        stroke-width=".236"
        d="M10.392 4.251C8.03 4.487 7.794 5.904 8.03 6.849l.945-.709c1.18-.944 1.417-1.653 1.417-1.889Z"
      ></path>
      <path
        fill="#FAFAF9"
        d="M8.03 6.849h1.652l4.251.944c-.708-1.417-2.125-3.306-4.959-1.653l-.945.709Z"></path>
      <path
        fill="#000"
        d="M8.03 6.849c.944-.473 2.833-1.181 4.25-.236l-4.25.236Zm0 0h1.652l4.251.944c-.708-1.417-2.125-3.306-4.959-1.653l-.945.709Z"
      ></path>
      <path
        stroke="#A6A09B"
        stroke-width=".236"
        d="M8.03 6.849c.944-.473 2.833-1.181 4.25-.236m-4.25.236h1.652l4.251.944c-.708-1.417-2.125-3.306-4.959-1.653l-.945.709Z"
      ></path>
      <path
        fill="#FAFAF9"
        d="M7.557 6.849a280.948 280.948 0 0 1-3.779 4.487c0-4.015 1.653-4.251 3.07-4.487H8.03a3.303 3.303 0 0 1-.472 0Z"
      ></path>
      <path
        fill="#000"
        d="M8.03 6.849c-1.182.236-1.654 1.18-2.126 2.125l-2.126 2.362c0-4.015 1.653-4.251 3.07-4.487H8.03Zm0 0c-1.182.472-2.599.708-3.307 2.361l3.306-2.36Z"
      ></path>
      <path
        stroke="#A6A09B"
        stroke-width=".236"
        d="M8.03 6.849c-1.182.236-1.654 1.18-2.126 2.125l-2.126 2.362c0-4.015 1.653-4.251 3.07-4.487H8.03Zm0 0c-1.182.472-2.599.708-3.307 2.361"
      ></path>
      <path
        fill="#FAFAF9"
        d="M9.682 6.849c2.126.472 3.07 2.361 3.543 3.306A5.905 5.905 0 0 1 8.029 6.85h1.653Z"
      ></path>
      <path
        fill="#000"
        d="M8.03 6.849c.708.236 2.597 1.18 3.542 2.125L8.029 6.85Zm0 0h1.652c2.126.472 3.07 2.361 3.543 3.306A5.905 5.905 0 0 1 8.029 6.85Z"
      ></path>
      <path
        stroke="#A6A09B"
        stroke-width=".236"
        d="M8.03 6.849c.708.236 2.597 1.18 3.542 2.125M8.029 6.85h1.653c2.126.472 3.07 2.361 3.543 3.306A5.905 5.905 0 0 1 8.029 6.85Z"
      ></path>
      <path
        fill="#FAFAF9"
        stroke="#A6A09B"
        stroke-width=".472"
        d="M21.61 7.321a4.369 4.369 0 1 0 0-8.738 4.369 4.369 0 0 0 0 8.738Z"></path>
    </g>
  </g>
</svg>
