---
import SocialMedia from '../social-media.astro';
---

<footer class="border-t border-[#242424] w-full">
  <div class="px-4 xl:px-0 max-w-6xl mx-auto py-5 flex flex-col sm:flex-row justify-center sm:justify-between items-center w-full gap-1 sm:gap-2">
    <small class="text-neutral-500 text-[10px] sm:text-xs">© {new Date().getFullYear()} Strapi2Front • MIT License</small>
    <SocialMedia />
  </div>
</footer>
